<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="./server.js"></script>

  <title>Write</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/main.css">

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <!-- nav bar -->
  <%- include('nav.html') %>


    <br>

    <!-- 입력창 -->
    <form action="/add" method="POST">
      <div class="form-floating mb-3" style="margin: 20px;">
        <input type="text" class="form-control" name="title">
        <label for="floatingInput">할 일</label>
      </div>
      <div class="form-floating mb-3" style="margin: 20px;">
        <input type="text" class="form-control" name="date">
        <label for="floatingInput">Due date</label>
      </div>
      <br>
      <button style="margin: 20px;" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- <div class="container mt-3">
    <form action="/add" method="POST">
      <div class="form-group">
        <label>오늘의 할일</label>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label>날짜</label>
        <input type="text" class="form-control" name="date">
      </div>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
  </div> -->
</body>

</html>